
.contenedorBar{
    display: flex;
    background-color: red; 
    box-shadow: 0.5rem 0.5rem rgb(139, 2, 2), 0.6rem 0.6rem rgb(0, 0, 0);
    height: 26.5vh;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 15px;
    border: 2px solid black;
    border-radius: 50px;
}

.imgBanner{
    width: 20vw;
    height: auto;
    margin: 2vh;
}

button{
    cursor: pointer;
}

.pokeamigos{
    width: 22vw;
    height: auto;
    margin: 0;
}

.banner{
    margin: 0;
}

.link{
    margin: 0;
}

.containerSlider{
    width: 80vw;
}

.pokebanner1{
    width: 19.3vw;
    margin: 0
}

.pokebanner{
    width: 10vw;
    height: auto;
    margin: 0
}